// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Pages
@import 'pages/index';
@import 'pages/osu';
@import 'pages/commands';
@import 'pages/projects';

//General
.navbar-brand {
    font-size: 30px !important;
}

.page-links {
    top: 0px;
    position: relative;
}

.links > a {
    color: $font-color-default;
    padding: 0px 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

code {
    color: $primary-light;
}
